/**
 * Name: Jinal Doshi
 * Program: Midterm - Disney Princess
 * Date Created: July 13th 2021
 */

/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
    color: indigo;
}
body {
	font-family: Open Sans;
    font-size: 100%;
	width: 900px;
	height:100%;
    margin: 0 auto;
    border: 3px solid rgb(200 13 80);
    background: linear-gradient(139deg, rgba(90,82,218,1) 0%, rgba(121,9,117,0.3592787456779587) 31%, rgba(252,0,255,0.1856092778908438) 75%);
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid rgb(200 13 80);
}
header h2 {
    font-family: 'Tangerine', cursive;
	font-size: 400%;
	color: #d21592;
}
header h3 {
    font-family: 'Tangerine', cursive;
    font-size: 200%;
	font-style: italic;
    color: white;
}
header img {
	float: left;
	padding: 15px 30px;
}
.shadow {
    text-shadow: 2px 4px 2px #ad0cab;
}
/* the styles for the main content */
main {
	clear: left;
}
main img{
    width: 100%;
}
main p {
    text-align: justify;
	padding-bottom: .5em;
}
main blockquote {
	padding: 0 2em;
	font-style: italic;
    font-size: 125%;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer {
	background-color: #800000;
	clear: both;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
	font-size: 125%;
}
/* the styles for the section */

section{
	width: 600px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h2{
    text-transform: capitalize;
    font-family: 'Tangerine', cursive;
	color: #800000;
	font-size: 200%;
	padding: .5em 0 .25em 0;
}
section h1{
    text-transform: capitalize;
    font-family: 'Tangerine', cursive;
	color: #800000;
	font-size: 200%;
	padding: 1.5em 0 0 0;
    margin: 0 !important;
}
/* the styles for the aside */
aside{
	width: 300px;
	padding: 0 0 20px 20px;
}
aside h2{
    font-family: 'Tangerine', cursive;
    font-size: 200%;
	color: #800000;
	padding: .5em 0 .25em 0;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
    text-decoration: none;
}
aside ul{
    list-style: square;
    margin: .5em .5em;
}
aside ul li{	
    line-height: 1.5em;
}
aside h3 a{
    color: blueviolet;
	font-size: 105%;
	padding-bottom: .25em;
    text-decoration: none !important;
}
aside h3 a:hover{
    color: mediumblue;
}
/* the styles for the article */
article{
	padding: .5em 0 .5em 0;
}
article img{
	float: right !important;
	border: 1px solid black;
	margin: 5px 0 20px 20px;
}
article h2{
	padding-top: 0;
}
article .chapters{
    font-family: inherit;
    color: #800000;
    font-size: 150%;
    padding: .5em 0 .25em 0;
    text-decoration: none !important;
}
.chapters a{
    color:blueviolet;
    text-decoration: none !important;
}
.chapters a:hover{
    font-style: inherit;
}
article p a{
    text-decoration: none;
    font-style: inherit;
    color:blueviolet;
}
article p a:hover{
    font-style: inherit;
}
article h3{	
    font-style: italic;
	font-size: 105%;
	padding-bottom: .25em;
}